:root {
    --main-bg-color: rgb(30, 30, 30);
    --secondary-bg-color: rgb(26, 26, 26);

    --text-color: rgb(223, 223, 223);
    --text-muted-color: rgb(100, 100, 100);
    --text-hover-color: rgb(95, 56, 168);

    --invert-amount: 1;
    --transition-speed: 0.1s
}