@use "_css-reset";
@use "_variables";

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin transition {
    transition: all var(--transition-speed) ease-in-out;
}

html {
    font-family: 'Gabarito', cursive;
    color: var(--text-color);
    background-color: var(--main-bg-color);
}

* {
    @include transition();
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    .main-body {
        flex: 1;
    }
}

a {
    color: var(--text-color);
    text-decoration: none;

    @include transition();
}

.navigation {
    height: 50px;

    position: sticky;

    background-color: var(--secondary-bg-color);
}

.nav {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 1rem;
}

.left-nav {
    @include flex-center();
    gap: 3rem;
}

.right-nav {
    @include flex-center();
    gap: 1rem;
}

.main-logo {
    font-size: 2rem;
}

.nav-items {
    height: 100%;

    @include flex-center();
    gap: 1.5rem;

    font-weight: bold;

    li {
        padding: 1rem 0;
        @include transition();
    }

    li:hover {
        translate: 0 var(--hover-pos);

        a {
            padding: inherit;
            color: var(--text-hover-color);
        }
    }
}

.settings {
    width: 20px;
    aspect-ratio: 1;

    @include flex-center();

    svg {
        stroke: var(--text-color);
        @include transition();
    }
}

.settings:hover {
    svg {
        stroke: var(--text-hover-color);
        translate: 0 var(--hover-pos);
    }
}

.theme-switcher {
    position: relative;

    width: 50px;

    @include flex-center();
    gap: 0.8rem;

    background-color: inherit;
    border-radius: 50px;

    svg {
        pointer-events: none;
        stroke: var(--text-color);
        @include transition();
    }

    .active {
        filter: invert(1);
    }

    .light-active {
        right: -7%;
    }
}

.button-switcher {
    position: absolute;
    right: 55%;

    width: 28px;
    height: 28px;

    border: none;
    border-radius: 50px;

    background-color: var(--text-color);
    transition: all 0.25s;

    cursor: pointer;

    &:hover {
        background-color: var(--text-hover-color);
    }
}

.footer {
    width: 100%;
    min-height: 50px;

    @include flex-center();
}