

@font-face {
    font-family: Montserrat-Medium;
    src: url("fonts/Montserrat-Medium.otf");
    font-display: swap;
}

html {
    background-color: #1a1d22;
    color: rgb(228, 228, 228);

    font-family: Montserrat-Medium;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
}

h1, h2, h3, h4, h5 {
    text-shadow: 2px 2px 5px #626977;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

footer {
    color: #949dad;
    margin-top: 3rem;

    text-align: center;
}

footer p {
    margin: 0;
}

article h1 {
    font-size: 3rem;

    margin-top: 8rem;
}

article section {
    display: flex;
    justify-content: center;

    height: 300px;
    margin-top: 5rem;
}

article section p {
    line-height: 1.65rem;
    max-width: 50ch;
}

article section img {
    aspect-ratio: 0.75;

    margin-left: 2rem;
    height: 300px;

    box-shadow: 0 0 15px #17191d;
    border-radius: 5px;
    filter: saturate(0);
}

.center {
    display: grid;
    place-items: center;
}

.button {
    color: white;
    display: grid;
    place-items: center;

    width: 5em;
    
    margin: auto;
    padding: 0.5em;

    border: 3px solid;
    border-radius: 15px;

    transition: all 0.2s;
}

.button:hover {
    transform: scale(105%);

    background-color: white;
    color: black;

    text-shadow: 1px 1px 5px black;
    border: 3px solid white;
}

.button a {
    color: white;

    transition: all 0.2s;
}

.button a:hover {
    color: black;
}

#head {
    display: flex;

    height: 70px;
    position: sticky;
    top: 0;

    z-index: 2;

    background-color: #202329;
    box-shadow: 0 10px 3px #181a1d;
}

#head h1 {
    margin: auto 2rem auto 1rem;

    text-shadow: 0 2px 2px rgb(139, 139, 139);
    border-bottom: 2px solid;
}

#head nav {
    height: 100%;

    margin-left: auto;
    margin-right: 2rem;
}

#head ul {
    display: flex;
    align-items: right;
    justify-content: center;
    gap: 3rem;

    height: 100%;

    padding: 0;
    margin: 0;
}

#head li {
    display: grid;
    place-items: center;
    border-bottom: dashed;

    height: 1.25rem;

    margin: auto;

    transition: all 0.2s;
    transition-property: transform, text-shadow;
}

#head a {
    height: 1.5rem;
}

#head li:hover, .active {
    text-shadow: 0 0 10px white;
    transform: scale(110%);
}

#dovednosti {
    max-width: 1000px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    
    list-style: none;
  
    padding: 0;
    margin-top: 3rem;
    padding-bottom: 2rem;
  
    animation: fade-in 1s linear;
}

#dovednosti li {
    background-color: #25282e;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    place-items: center;
    gap: 0.5rem;

    width: 200px;
    height: 320px;
    
    box-shadow: 0px 0px 15px #16171b;
    border-radius: 10px;

  
    transition: transform 0.2s;
}
  
#dovednosti li:hover {
    transform: scale(110%);
}
  
#dovednosti li > h1 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    text-transform: none;
  
    border-bottom: 3px dashed rgb(255, 255, 255);
}
  
#dovednosti li > p {
    text-align: center;
    line-height: 1.5em;
    font-size: 0.89rem;

    margin: 0;
    margin-top: 0.25rem;

    padding-left: 1em;
    padding-right: 1em;
}
  
#dovednosti li > img {
    width: 64px;
    height: 64px;

    aspect-ratio: 1;

    margin: 0;
    margin-top: 1.5rem;
}

@media (max-width: 513px) {
    #head ul {
        gap: 1.5rem;
    }
    
    #dovednosti li {
        width: 180px;
        height: 320px;
    }
}