* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*TODO:I should switch to sass and change the structure*/

/*Why does Firefox make me do this aaaaaa*/
@-moz-document url-prefix() {
    p, a, img, h1, h2, h3, div, section, li, ul {
        transform: rotate(0.02deg);
    }
}

:root {
    --main-bg-color: #1a1d22;
    --header-bg-color: #202329;
    --element-bg-color: #20242b;
    --font-color: rgb(226, 226, 226);
    --text-glow: rgb(141, 141, 141);
    --text-glow-strong: rgb(201, 201, 201);
    --footer-text-color: #7b88a0;
    --invert-amount: 1;
}

@font-face {
    font-family: Montserrat-Medium;
    src: url("fonts/Montserrat-Medium.woff2") format("woff2");
    font-display: swap;
}

@keyframes appear {
    from {
        filter: opacity(0);
    }

    to {
        filter: opacity(100%);
    }
}

@keyframes appear-from-right {
    from {
        filter: opacity(0) grayscale(1);
        transform: translateX(300px);
    }

    to {
        filter: opacity(100%) grayscale(1);
        transform: translateX(0);
    }
}

@keyframes appear-from-left {
    from {
        filter: opacity(0) grayscale(1);
        transform: translateX(-300px);
    }

    to {
        filter: opacity(100%) grayscale(1);
        transform: translateX(0);
    }
}

@keyframes appear-from-top {
    from {
        filter: opacity(0);
        transform: translateY(-200px);
    }

    to {
        filter: opacity(100%);
        transform: translateY(0);
    }
}

@keyframes appear-from-down {
    from {
        filter: opacity(0);
        transform: translateY(200px);
    }

    to {
        filter: opacity(100%);
        transform: translateY(0);
    }
}

html * {
    transition: color, background-color 0.25s;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: Montserrat-Medium, Arial, Helvetica, sans-serif;
    color: var(--font-color);
    background-color: var(--main-bg-color);
}

a {
    text-decoration: none;
    color: var(--font-color);
}

.title {
    font-size: 3rem;
    padding: 1rem;
    padding-top: 2rem;

    text-shadow: 0 0 5px var(--text-glow);

    border-bottom: 3px solid white;

    animation: appear 1s ease-in-out;
}

.appear {
    animation: appear 1s ease-in-out;
}

.appear-top {
    animation: appear-from-top 1s ease-in-out;
}

.appear-bottom {
    animation: appear-from-down 1s ease-in-out;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 2;

    padding: 0.75rem;

    box-shadow: 0 10px 10px rgb(24, 24, 24);
    background-color: var(--header-bg-color);
}

.mode-switch {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 1.5rem;

    animation: appear 1s ease-in-out;
}

.mode-switch img {
    aspect-ratio: 1;

    width: 32px;

    filter: invert(var(--invert-amount));

    transition: all 0.25s;
}

.mode-switch img:hover {
    scale: 115%;
    filter: drop-shadow(0 0 10px var(--text-glow)) invert(var(--invert-amount));
}

.logo {
    transition: all 0.3s;
}

.logo a {
    padding-right: 2rem;
    padding-left: 1rem;

    text-shadow: 0 2px 1px rgb(145, 145, 145);

    transition: all 0.3s;
}

.logo a:hover {
    text-shadow: 0 2px 10px rgb(192, 192, 192);
}

.logo:hover {
    translate: 0 -3px;
}

.nav {
    padding-right: 1rem;
}

.nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.25rem;

    list-style: none;
}

.nav li {
    transition: all 0.2s;
}

.nav li a {
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav li:hover, .nav-active {
    translate: 0 -3px;
    scale: 110%;
    text-shadow: 0 0 10px var(--text-glow-strong);
    filter: drop-shadow(0 0 10px var(--text-glow));
}

.main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    padding: 2rem;
    padding-top: 0;
    
    flex: 1;
}

.main-body section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem 0 2rem 0;

    gap: 1rem;
}

.main-body > section > p {
    text-align: center;
    animation: appear 1s ease-in-out;
}

.main-body p {
    max-width: 50ch;
    line-height: 2.2rem;
}

.about-me a {
    color: #52688f;
    text-decoration: underline solid
}

.socials {
    width: 100%;

    padding: 0;
    padding-top: 1rem;
}

.socials ul {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.socials img {
    width: 64px;
    aspect-ratio: 1;

    filter: invert(var(--invert-amount));
}

.socials li {
    animation: appear 1s ease-in-out;
}

.socials a {
    border-bottom: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 1rem;
    padding-bottom: 1rem;

    color: var(--footer-text-color);
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;

    max-width: 1000px;

    padding-top: 2rem;

    font-size: 0.9rem;

    animation: appear 1s ease-in-out;
}

.skills-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    width: 200px;
    height: 320px;

    background-color: var(--element-bg-color);
    border-radius: 10px;
    box-shadow: 0px 0px 15px #0e0e11;

    transition: all 0.2s ease-in-out;
}

.skills-card:hover {
    scale: 110%;
    filter: brightness(110%);
}

.skills-card > h2 {
    border-bottom: 3px solid;
}

.skills-card > p {
    max-width: 50ch;

    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;

    line-height: 1.6rem;
}

.skills-card > img {
    width: 64px;
    height: 64px;
    aspect-ratio: 1;

    margin-bottom: 1rem;
}

.skills-card a { 
    color: #52688f;
    text-decoration: underline solid
}

.projects {
    padding-top: 5rem;
}

.projects ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.projects-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;

    padding-left: 2rem;
    padding-right: 2rem;

    border-left: 3px solid #416ab3;
}

.projects-card p {
    line-height: 2rem;
}

.projects-card > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-card h2 {
    border-bottom: 3px solid white;
}

.projects-card h3 > span {
    color: #416ab3;
}

.projects-card > img {
    max-width: 512px;
    aspect-ratio: 1.35;

    border-radius: 10px;
    filter: brightness(70%);
    
    transition: all 0.2s ease-in-out;
}

.projects-card > img:hover {
    transform: scale(110%);
    filter: brightness(110%);
    box-shadow: 0 0 20px #416bb36e;
}

.animated-link {
    transition: all 0.2s ease-in-out;
}

.animated-link:hover, .animated-link *:hover {
    transform: scale(110%);
    color: #416ab3;
    border-bottom: 3px solid #416ab3;
}

.project-social {
    padding-top: 1rem;
    padding: 1rem;
    background-color: #404ab6;
    border-radius: 15px;
    font-weight: bold;

    transition: all 0.2s ease-in-out;
}

.project-social:hover {
    color: #404ab6;
    background-color: white;
    transform: scale(110%);
}

.mode-switch img {
    cursor: pointer;
}

.good-style {
    background-color: red;
}

.good-center {
    position: absolute;
}

.hover-link:hover {
    color: #404ab6;
    translate: 0 -3px;
}

.dropdown {
    box-sizing: border-box;
}

.nav-dropdown {
    display: none;
}

.dropdown-expander {
    width: 2rem;
    height: 2rem;

    padding: 0.5rem;

    cursor: pointer;
    color: var(--font-color);
    background-color: var(--header-bg-color);
    border: none;

    background: url("images/sun.svg") no-repeat;
    background-position: center;
}

.dropdown-content {
    width: 99vw;
    
    display: none;
    flex-direction: column; /*Used on smaller devices*/

    position: absolute;
    right: 0;

    margin-top: 0.95rem;
    
    background-color: var(--header-bg-color);
    z-index: 1;

    transition: all;
}

.dropdown:focus-within .dropdown-content {
    display: flex;
    scale: 100%;
    opacity: 100%;
}

.dropdown-content a {
    padding: 0.5rem;
    padding-left: 2rem;
    background-color: var(--header-bg-color);

    transition: all 0.35s ;
}

.dropdown-content a:hover {
    padding: 0.5rem;
    padding-left: 1rem;
    filter: brightness(150%);
}

@media (max-width: 500px) {
    .nav > ul {
        gap: 1rem;
    }

    .main-body section {
        flex-direction: column;
    }

    .socials ul {
        display: flex;
        justify-content: center;
        gap: 4rem;
    }

    .nav-dropdown {
        display: block;
    }

    .nav-button, .nav-active {
        display: none;
    }

    .projects-card > img {
        max-width: 360px;
        aspect-ratio: 1.35;
        object-fit: contain;
    
        border-radius: 10px;
        filter: brightness(70%);
    
        box-shadow: 0 0 15px #416bb313;
        transition: all 0.2s ease-in-out;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 0.84rem;
    }

    .nav > ul {
        gap: 0.75rem;
    }

    .main-body section {
        flex-direction: column;
    }

    .skills {
        gap: 2rem;
    }

    .socials ul {
        display: flex;
        justify-content: center;
        gap: 4rem;
    }

    .skills-card {
        width: 170px;
        height: 250px;
    }
    
    .skills-card > p {
        max-width: 50ch;
    
        padding-top: 1em;
        padding-right: 1em;
        padding-left: 1em;
    
        line-height: 1.6em;
    }
    
    .skills-card > img {
        width: 48px;
        height: 48px;
    }

    .projects-card > img {
        max-width: 300px;
        aspect-ratio: 1.35;
        object-fit: contain;
    
        border-radius: 10px;
        filter: brightness(70%);
    
        box-shadow: 0 0 15px #416bb313;
        transition: all 0.2s ease-in-out;
    }
}
/* 
@media (prefers-color-scheme: light) {
    :root {
        --main-bg-color: #e6e6e6;
        --header-bg-color: #dbdbdb;
        --element-bg-color: #e0e0e0;
        --font-color: rgb(0, 0, 0);
        --text-glow: rgb(54, 54, 54);
        --text-glow-strong: rgb(36, 36, 36);
        --footer-text-color: #464f5f;
        --invertAmount: 0;
    }

    .mode-switch img {
        filter: invert(var(--invertAmount));
    }

    .socials img {
        filter: invert(0);
    }

    .header {
        box-shadow: 0 10px 10px rgb(126, 126, 126);
    }
} */